.some-inf{
    width: 100%;
    vertical-align: middle;
    padding-top: 119px;
    padding-bottom: 100px;
}

.center{
    text-align: center;
}

.heading2{
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 50px;
}

.header-text{
    display: inline-block;
    text-align: left;
	vertical-align: middle;
    margin-left: 130px;
}

.lorem-text{
    color: #727272;
    width: 540px;
    margin: auto;
}

.heading{
    font-size: 3rem;
    margin-bottom: 60px;
}